.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    width: 100px;
    height: 30px;
    margin: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.users {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.review {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}