.catalog-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.card {
  width: 200px; 
  margin: 10px;
  text-align: center;
  border: 1px solid rgb(148, 184, 211);

}

.card img {
  width: 100%; 
  height: 80%; 
}

.card p {
  margin-top: 10px; 
  font-size: 16px; 
  text-align: center; 
}

.films h2 {
  margin-top: 20px;
}