/* Estilo para o contêiner principal */
.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Estilo para o contêiner do cartaz do filme */
  .movie-poster {
    margin-bottom: 20px;
  }
  
  /* Estilo para o cartaz do filme */
  .poster img {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    border-radius: 8px;
  }
  
  /* Estilo para as informações do filme */
  .movie-info .movie-details {
    text-align: center;
  }
  
  /* Estilo para o título do filme */
  .movie-info .movie-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilo para os detalhes do filme */
  .movie-info .movie-details p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Estilo para o player de vídeo */
  .movie-info .movie-player {
    margin-top: 20px;
  }
  