
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
}
/* Estilo para o contêiner principal */
.movie-info {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8%;

}
  
/* Estilo para o contêiner do cartaz do filme */
.movie-poster {
  margin-bottom: 20px;
  display: flex;
}

.info-movie {
  margin-left: 2%;
  margin-top: 2%;
}
.paragrafo {
  margin-top: 10px;
}

/* Estilo para o cartaz do filme */
.poster img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.stars {
  display: flex;
  align-items: center;
}

.player {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments h2 {
  margin-top: 10px;
  
}

.comments h3 {
  margin-top: 10px;
  color: #b73223;
}

.favorite {
  margin-top: 10px;
  font-size: 14px;
  padding: 5px 10px;
  width: 100px;
}

.text {
  width: 100%;
}

.reviews {
  display: right;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reviews button {
  color: white;
  border: none;
  padding: 5px;
  width: 20px;
  height: 20px;
  display: left;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px; 
}

.edit, .remove {
  display: flex;
  margin-left: 10px;
  font-size: 0.9rem;
  border: 1px solid black;
  padding: 2px;
}