.foto-logo {
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 45px;
  margin-left: 20px;
}
.foto-logo:hover .user-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #645757;
  border-radius: 10px;
  width: 8vmax;
  margin:auto;
  height: 25vmax;
  font-size: 1vmax;
}
.user-profile {
  display: none;
  background: blue;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  margin: 20px 0;
  font-size: 24px;
  color: #333;
}

.button {
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #B29F63;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.delete-button {
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.profile-pic {
  width: 100px;
  height: 100px;
}